<div class="carousel-container" id="note-image-container">
  <div class="search-results-loader" id="note-image-loader"></div>
  <div class="carousel-wrapper">
  </div>
  <button class="carousel-control prev">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <button class="carousel-control next">
    <i class="fa-solid fa-arrow-right"></i>
  </button>
</div>
