<div class="carousel-container" id="note-image-container">
  <div class="search-results-loader" id="note-image-loader"></div>
  <div class="carousel-wrapper">
  </div>
  <button data-tippy-content="Left Arrow (←)" class="carousel-control prev">
    <svg width="20px" height="20px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M32.6029 45.8333H83.332V54.1666H32.6029L55.9362 77.5L49.9987 83.3333L16.6654 50L49.9987 16.6666L55.9362 22.5L32.6029 45.8333Z" fill="#1D1B20" />
    </svg>  
  </button>
  <button data-tippy-content="Right Arrow (→)" class="carousel-control next">
    <svg width="20px" height="20px" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M67.3971 54.1667H16.668V45.8334H67.3971L44.0638 22.5L50.0013 16.6667L83.3346 50L50.0013 83.3334L44.0638 77.5L67.3971 54.1667Z" fill="#1D1B20"/>
    </svg>  
  </button>
</div>
