<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>500 Error</title>
    <link rel="stylesheet" href="/css/500-error.css">
</head>
<body>
    <header class="top-header"></header>

    <!-- Dust particle -->
    <div class="particles">
        <div class="starsec"></div>
        <div class="starthird"></div>
        <div class="starfourth"></div>
        <div class="starfifth"></div>
    </div>
    <!-- Dust particle end -->

    <section class="error">
        <!-- Content -->
        <div class="error__content">
            <div class="error__message message">
                <h1 class="message__title">Uh-oh! Server Error</h1>
                <p class="message__text"><%= message %></p>
            </div>
            <div class="error__nav e-nav">
                <a href="https://ctgcollege.gov.bd/" class="e-nav__link">Go Home</a>
            </div>
        </div>
        <!-- END Content -->
    </section>
</body>
</html>
