<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About NoteRoom</title>
    <link rel="stylesheet" href="/css/about-us.css" />
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/be4b1d4185.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
      <i class="fa-solid fa-arrow-left" onclick="goPrevPage()" ></i>
        <h1>About Us</h1>
    </header>
<div class="hero-section">
  <div class="hero-content">
    <img src="/images/Noteroom site logo 192x192.png" alt="NoteRoom Logo" class="hero-logo">
    <h1 class="tagline">Notes that Connect. Learning that Inspires.</h1>
  </div>
  </div>
 
<section class="founders-section">
    <h2>Meet the Team</h2>
    <div class="founders">
    </div>
</section>
<section class="development-info">
    <h2>The Development</h2>
    <div class="first-container">
        <img class="container-img" src="/images/Dev-main-placeholder-img.png" alt="" srcset="">
        <p class="desc-box">NoteRoom was developed as a collaborative effort between Anirban Biswas, Devajit Mutsuddy, and Rafi Rahman, with each member bringing unique expertise to the project. Anirban, who initiated the idea, played a dual role in project direction and frontend development, guiding the team toward achieving its goals while ensuring the user interface was visually appealing and functional. Devajit focused on UI/UX design, crafting an intuitive interface and developing wireframes using Figma to visually map out the user journey. Rafi, the backend developer, built the platform's infrastructure, ensuring seamless data management and integration with college websites.</p>
    </div>
    <div class="second-container">
        <img class="container-img" src="/images/Anirban-dev-section-img.png" alt="Anirban">
        <div class="info-box">
        <h3 class="desc-title">
            Project Direction and Frontend Development – Led by Anirban Biswas
        </h3>
        <p class="desc-box-2">
            Anirban played a crucial role in both the direction of the project and the frontend development. As the project director, he ensured that the team remained focused on achieving key milestones, kept the development process on track, and facilitated collaboration between departments. In the frontend development, Anirban worked on building the platform’s interface, focusing on a mobile-first design to optimize user experience across devices. His responsibilities included implementing the visual and interactive aspects of the platform, ensuring the user interface was functional and easy to navigate.</p>
        </div>
    </div>
    <div class="third-container">
        <img class="container-img" src="/images/Backend-placeholder-img.png" alt="" srcset="">
        <div class="info-box">
        <h3 class="desc-title">
            Backend Development – Led by Rafi Rahman
        </h3>
        <p class="desc-box-2">
            
Rafi was responsible for the backend development, handling the server-side functionality that powers the platform. His role included managing the databases, developing APIs, and ensuring that NoteRoom’s infrastructure could handle user activity efficiently and securely. Rafi worked on integrating the platform with college systems, enabling seamless data flow between the platform and external systems. His focus was on creating a scalable, stable backend that ensured NoteRoom's performance was reliable, even with increasing user loads.</p>
        </div>
    </div>
    <div class="fourth-container">
        <img class="container-img" src="/images/Rohit-dev-section-img.png" alt="" srcset="">
        <div class="info-box">
        <h3 class="desc-title">
            UI/UX Design – Led by Devajit Mutsuddy
        <p class="desc-box-2">
            Devajit led the UI/UX design of NoteRoom, ensuring that the platform’s interface was intuitive and visually appealing. He developed wireframes and prototypes using Figma to map out the user journey and structure the platform’s layout. His work included creating a consistent design system, which defined the color schemes, typography, icons, and other visual elements, ensuring a cohesive look and feel across the platform. Devajit also worked closely with the frontend developers, including Anirban, to ensure the designs were accurately implemented and reflected the intended user experience.</p>
        </div>
    </div>
</section>
<!-- <section class="join-team-section">
    <h2>Join Our Team</h2>
</section> -->
    <!-- <footer class="footer">
      <svg class="footer-wave-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
      </svg>
      <div class="footer-content">
        <div class="clm">
          <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/draft-logo-of-noteroom.png" alt="NoteRoom Logo" />
          <a href="/login" class="login-opt">Login</a>
        </div>
        <div class="clm">
          <a href="/support">Help & Support</a>
          <a href="/user-guide">User Guide</a>
          <a href="/about-us">About Us</a>
        </div>
        <div class="clm sign-up-box">
          <h3>Not a User?😿</h3>
          <button onclick="window.location.href='/sign-up'" class="sign-up">Sign Up Today!</button>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="footer-copyright-wrapper">
          <p class="footer-copyright-text">
            <a class="privacy-policy-link" href="/privacy-policy">Privacy Policy</a>
            <a class="footer-copyright-link" href="#" target="_self">Copyright ©2024 | NoteRoom Chittagong College | All rights reserved. </a>
          </p>
        </div>
      </div>
    </footer> -->
<footer class="footer">
  <div class="footer-content">
    <div class="clm">
      <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/draft-logo-of-noteroom.png" alt="NoteRoom Logo">
      <div class="footer-about">
        Noteroom is a student-driven platform for sharing notes, collaborating, and group study. Think of it as a social media but built for students.
      </div>
    </div>
    <div class="clm">
      <h3>Contact Info</h3>
      <ul>
        <li>College Road, Chakbazar, 4203 Chattogram</li>
        <li>Phone: +8801978462090</li>
        <li>Email: noteroom@gmail.com</li>
      </ul>
    </div>
    <div class="clm">
      <h3>Important Links</h3>
      <ul>
        <li><a href="/login" >Login</a></li>
        <li><a href="/user-guide">User Guide</a></li>
        <li><a href="/about-us">About Us</a></li>
      </ul>
    </div>
    <div class="clm">
      <h3 class="sign-up-title" >Not a Memeber Yet 😿?</h3>
      <p>Jump in, share notes, and level up your study game with us!</p>
      <div onclick="location.href='/login'" class="sign-up-btn">Join Now</div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="footer-copyright-wrapper">
      <p class="footer-copyright-text">
        <a class="privacy-policy-link" href="/privacy-policy">Privacy Policy</a>
        <a class="footer-copyright-link" href="#" target="_self">Copyright ©2024 | NoteRoom Chittagong College | All rights reserved. </a>
      </p>
    </div>
  </div>
</footer>

<script type="module" src="/js/about-us.js"></script>
<script src="/js/utils.js"></script>
</body>
</html>
