<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About NoteRoom</title>
    <link rel="stylesheet" href="/css/About-us.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/be4b1d4185.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    <header>
        <i class="fa-solid fa-arrow-left"></i>
        <h1>About Us</h1>
    </header>
<div class="hero-section">
    <img src="\NoteRoom Deck Cover.jpg" alt="About NoteRoom"  
    sizes="(max-width: 600px) 100vw, (max-width: 1200px) 100vw, 1800px" >
</div>
<section class="founders-section">
    <h2>Founders</h2>
    <div class="founders">
        <div class="founders-card">
            <img src="\Anirban Caricature - NoteRoom.png" alt="Anirban Caricature" class="founder-img">
        <p class="f-name">Anirban Biswas Arnob</p>
        <p class="f-clg">Gov.t Chattogram College</p>
        <p class="f-role">The Visionary</p>
        <p class="f-desc">Anirban is the mastermind behind the scenes, constantly dreaming up new ideas and envisioning a future in Silicon Valley. A true caffeine-fueled idea machine, he leads the team with a passion for technology, business, and anything that signifies progress. Somehow, he navigates his HSC studies without turning into a robot—at least, not yet! If you catch sight of someone furiously typing away, it’s likely Anirban, deeply immersed in coding or binge-watching WWII movies. And yes, he’s even published a book that at least three people have read!</p>
        <div class="social-prfls">
            <i onclick="window.location.href='https://www.facebook.com/profile.php?id=61558992303361&locale=bn_IN'" class="fa-brands fa-facebook"></i>
            <i onclick="window.location.href='https://www.facebook.com/profile.php?id=61558992303361&locale=bn_IN'" class="fa-brands fa-square-instagram"></i>
            <i onclick="window.location.href='https://www.facebook.com/profile.php?id=61558992303361&locale=bn_IN'" class="fa-brands fa-square-x-twitter"></i>
            <i onclick="window.location.href='https://www.facebook.com/profile.php?id=61558992303361&locale=bn_IN'" class="fa-brands fa-linkedin"></i>
        </div>
    </div>
    </div>
</section>
<script src="/js/team-data.js"></script>
<script src="/js/about-us.js"></script>
</body>
</html>