<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p id="message" style="display: none;"></p><br>

    <p>Current Password: <input type="password" name="current-password" id="current-password"></p>
    <p>New password: <input type="password" name="password" id="new-password"></p>
    <p>Retype password: <input type="password" name="retyped-password" id="retyped-password"></p>
    <p><button onclick="changePassword()">Change Password</button></p>


    <script>
        async function changePassword() {
            function actionAfter(message) {
                document.querySelector('#message').style.display = 'inline'
                document.querySelector('#message').innerHTML = message

                document.querySelector('#current-password').value = ''
                document.querySelector('#new-password').value = ''
                document.querySelector('#retyped-password').value = ''
            }

            let current_password = document.querySelector('#current-password').value
            let new_password = document.querySelector('#new-password').value
            let re_password = document.querySelector('#retyped-password').value

            if (current_password && new_password && new_password === re_password) {
                let response = await fetch('/auth/password-change?action=change', {
                    method: 'post',
                    body: (function() {
                        let passwordData = new FormData()
                        passwordData.append('current_password', current_password)
                        passwordData.append('new_password', new_password)
                        return passwordData
                    })()
                })
                let data = await response.json()
                data.changed ? actionAfter("Password changed successfully") : 
                    data.changed === null ? actionAfter("Your current password isn't valid!!") : actionAfter("Couldn't change the password! Please try again a bit later.")
            }
        }
    </script>
</body>
</html>