<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <meta
      name="description"
      content="Change your NoteRoom account's password"
    />
    <meta name="keywords" content="Update NoteRoom Password" />
    <meta name="author" content="Noteroom Team" />

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/bar-loader.css" />
    <link rel="stylesheet" href="/css/change-password.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="\assets\apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="\assets\favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="\assets\favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="\assets\android-chrome-192x192.png"
    />

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />

    <%- include('/partials/links.ejs') %>
  </head>
  <body>
    <div class="outer-container flex-col-center">
      <div class="row-1__icon-holder">
        <img
          class="row-1--toki-img"
          src="\images\toki-change-password-img.png"
          alt="Toki here to help"
        />
      </div>

      <div class="row-2__action-msges flex-col-center">
        <h1 class="action-msges--main-title">Update Password</h1>
        <div class="action-msges--act-update" id="message">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
          distinctio alias culpa id deleniti, voluptatem provident sit, aperiam
          dolores maiores numquam totam, expedita architecto labore illo rem.
          Amet, eligendi velit?
        </div>
      </div>

      <div class="row-3__input-container flex-col-center">
        <div class="password-input-container">
          <input
            placeholder="Current Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="current-password"
            id="current-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <i class="fa-solid fa-eye"></i>
          </button>
        </div>

        <div class="password-input-container">
          <input
            placeholder="New Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="password"
            id="new-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <i class="fa-solid fa-eye"></i>
          </button>
        </div>
        <div class="password-input-container">
          <input
            placeholder="Re-enter New Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="retyped-password"
            id="retyped-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <i class="fa-solid fa-eye"></i>
          </button>
        </div>

        <button class="input-container--pri-btn" onclick="changePassword()">
          Change Password
        </button>
      </div>

      <div class="row-4__other-links-container flex-col-center">
        <a href="/login" class="login-link other-links">Login</a>
        <p class="sign-up-text">
          Don't have an account?
          <a href="/sign-up" class="sign-up-link other-links">Sign Up</a>
        </p>
      </div>
    </div>

    <script src="/js/change-password.js"></script>
  </body>
</html>
