<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <meta
      name="description"
      content="Change your NoteRoom account's password"
    />
    <meta name="keywords" content="Update NoteRoom Password" />
    <meta name="author" content="Noteroom Team" />

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/bar-loader.css" />
    <link rel="stylesheet" href="/css/change-password.css" />

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="\assets\apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="\assets\favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="\assets\favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="\assets\android-chrome-192x192.png"
    />

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/tippy.js@6/animations/scale.css"
    />

    <%- include('partials/links.ejs') %>
  </head>
  <body>
    <div class="outer-container flex-col-center">
      <div class="row-1__icon-holder">
        <img
          class="row-1--toki-img"
          src="\images\toki-change-password-img.png"
          alt="Toki here to help"
        />
      </div>

      <div class="row-2__action-msges flex-col-center">
        <h1 class="action-msges--main-title">Update Password</h1>
        <div class="action-msges--act-update" id="message">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis
          distinctio alias culpa id deleniti, voluptatem provident sit, aperiam
          dolores maiores numquam totam, expedita architecto labore illo rem.
          Amet, eligendi velit?
        </div>
      </div>

      <div class="row-3__input-container flex-col-center">
        <div class="password-input-container">
          <input
            placeholder="Current Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="current-password"
            id="current-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <svg class="visible-password-icon" width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.16797 50C4.16797 50 20.8346 16.6667 50.0013 16.6667C79.168 16.6667 95.8346 50 95.8346 50C95.8346 50 79.168 83.3334 50.0013 83.3334C20.8346 83.3334 4.16797 50 4.16797 50Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M50.0013 62.5C56.9049 62.5 62.5013 56.9036 62.5013 50C62.5013 43.0965 56.9049 37.5 50.0013 37.5C43.0977 37.5 37.5013 43.0965 37.5013 50C37.5013 56.9036 43.0977 62.5 50.0013 62.5Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>     
          <svg class="hidden-password-icon" width="20" height="20" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M72.7474 72.75C65.6249 78.1792 56.952 81.1869 47.9974 81.3334C18.8307 81.3334 2.16406 48 2.16406 48C7.34694 38.3413 14.5355 29.9026 23.2474 23.25M39.2474 15.6667C42.1154 14.9954 45.0518 14.6598 47.9974 14.6667C77.1641 14.6667 93.8307 48 93.8307 48C91.3015 52.7317 88.2851 57.1864 84.8307 61.2917M56.8307 56.8333C55.6864 58.0615 54.3064 59.0465 52.773 59.7297C51.2397 60.4129 49.5845 60.7803 47.9061 60.8099C46.2277 60.8395 44.5606 60.5307 43.0041 59.9021C41.4476 59.2734 40.0337 58.3376 38.8468 57.1507C37.6598 55.9637 36.724 54.5498 36.0953 52.9933C35.4667 51.4368 35.1579 49.7697 35.1875 48.0913C35.2171 46.4129 35.5845 44.7577 36.2677 43.2244C36.9509 41.6911 37.9359 40.3111 39.1641 39.1667M2.16406 2.16669L93.8307 93.8334" stroke="#1E1E1E" stroke-width="4.08333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
        </div>

        <div class="password-input-container">
          <input
            placeholder="New Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="password"
            id="new-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <svg class="visible-password-icon" width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.16797 50C4.16797 50 20.8346 16.6667 50.0013 16.6667C79.168 16.6667 95.8346 50 95.8346 50C95.8346 50 79.168 83.3334 50.0013 83.3334C20.8346 83.3334 4.16797 50 4.16797 50Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M50.0013 62.5C56.9049 62.5 62.5013 56.9036 62.5013 50C62.5013 43.0965 56.9049 37.5 50.0013 37.5C43.0977 37.5 37.5013 43.0965 37.5013 50C37.5013 56.9036 43.0977 62.5 50.0013 62.5Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>     
          <svg class="hidden-password-icon" width="20" height="20" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M72.7474 72.75C65.6249 78.1792 56.952 81.1869 47.9974 81.3334C18.8307 81.3334 2.16406 48 2.16406 48C7.34694 38.3413 14.5355 29.9026 23.2474 23.25M39.2474 15.6667C42.1154 14.9954 45.0518 14.6598 47.9974 14.6667C77.1641 14.6667 93.8307 48 93.8307 48C91.3015 52.7317 88.2851 57.1864 84.8307 61.2917M56.8307 56.8333C55.6864 58.0615 54.3064 59.0465 52.773 59.7297C51.2397 60.4129 49.5845 60.7803 47.9061 60.8099C46.2277 60.8395 44.5606 60.5307 43.0041 59.9021C41.4476 59.2734 40.0337 58.3376 38.8468 57.1507C37.6598 55.9637 36.724 54.5498 36.0953 52.9933C35.4667 51.4368 35.1579 49.7697 35.1875 48.0913C35.2171 46.4129 35.5845 44.7577 36.2677 43.2244C36.9509 41.6911 37.9359 40.3111 39.1641 39.1667M2.16406 2.16669L93.8307 93.8334" stroke="#1E1E1E" stroke-width="4.08333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
        </div>
        <div class="password-input-container">
          <input
            placeholder="Re-enter New Password"
            class="input-container--input input-container--input-password"
            type="password"
            name="retyped-password"
            id="retyped-password"
          />
          <button type="button" id="togglePassword" class="toggle-password">
            <svg class="visible-password-icon" width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.16797 50C4.16797 50 20.8346 16.6667 50.0013 16.6667C79.168 16.6667 95.8346 50 95.8346 50C95.8346 50 79.168 83.3334 50.0013 83.3334C20.8346 83.3334 4.16797 50 4.16797 50Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M50.0013 62.5C56.9049 62.5 62.5013 56.9036 62.5013 50C62.5013 43.0965 56.9049 37.5 50.0013 37.5C43.0977 37.5 37.5013 43.0965 37.5013 50C37.5013 56.9036 43.0977 62.5 50.0013 62.5Z" stroke="#1E1E1E" stroke-width="4.16667" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>     
          <svg class="hidden-password-icon" width="20" height="20" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M72.7474 72.75C65.6249 78.1792 56.952 81.1869 47.9974 81.3334C18.8307 81.3334 2.16406 48 2.16406 48C7.34694 38.3413 14.5355 29.9026 23.2474 23.25M39.2474 15.6667C42.1154 14.9954 45.0518 14.6598 47.9974 14.6667C77.1641 14.6667 93.8307 48 93.8307 48C91.3015 52.7317 88.2851 57.1864 84.8307 61.2917M56.8307 56.8333C55.6864 58.0615 54.3064 59.0465 52.773 59.7297C51.2397 60.4129 49.5845 60.7803 47.9061 60.8099C46.2277 60.8395 44.5606 60.5307 43.0041 59.9021C41.4476 59.2734 40.0337 58.3376 38.8468 57.1507C37.6598 55.9637 36.724 54.5498 36.0953 52.9933C35.4667 51.4368 35.1579 49.7697 35.1875 48.0913C35.2171 46.4129 35.5845 44.7577 36.2677 43.2244C36.9509 41.6911 37.9359 40.3111 39.1641 39.1667M2.16406 2.16669L93.8307 93.8334" stroke="#1E1E1E" stroke-width="4.08333" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </button>
        </div>

        <button class="input-container--pri-btn" onclick="changePassword()">
          Change Password
        </button>
      </div>

      <div class="row-4__other-links-container flex-col-center">
        <a href="/login" class="login-link other-links">Login</a>
        <p class="sign-up-text">
          Don't have an account?
          <a href="/sign-up" class="sign-up-link other-links">Sign Up</a>
        </p>
      </div>
    </div>

    <script src="/js/change-password.js"></script>
  </body>
</html>
