<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onboarding</title>

    <link rel="stylesheet" href="/css/onboarding.css" />
	<link rel="stylesheet" href="/css/error-popup.css" />
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet"
	/>
	<link 
		href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
		rel="stylesheet"
	>
	<script
		src="https://kit.fontawesome.com/be4b1d4185.js"
		crossorigin="anonymous"
	></script>

	<link rel="apple-touch-icon" sizes="180x180" href="\assets\apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="\assets\favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="\assets\favicon-16x16.png">
	<link rel="icon" type="image/png" href="\assets\android-chrome-192x192.png">
	<link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <div class="main-container flex-col-center">
        <!-- This contains the progress bar and back button of slides -->
        <div class="main-container__row-1 flex-row-center">
            <i class="fa-solid fa-arrow-left"></i>
            <div class="progress-container">
                <div class="progress-bar"></div>
            </div>
        </div>
        <!-- These are the slide containers and will be slided as all of them are sliders -->
        <div class="main-container__row-2 flex-col-center">
            <div class="slide-container">
                <!-- Slide 1 -->
                <div class="slide active" id="slide-1">
                    <div class="toki-msg-container flex-row-center">
                        <img class="toki-img toki-img__1" src="\images\onboarding-assets\toki-slide-1.png" alt="Toki msg 1">
                        <div class="toki-msg">
                            <svg class="toki-msg__background" width="297" height="50" viewBox="0 0 297 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 11C16 5.7533 20.2533 1.5 25.5 1.5H285.5C290.747 1.5 295 5.75329 295 11V39C295 44.2467 290.747 48.5 285.5 48.5H22.6266C18.9668 48.5 16 45.5331 16 41.8733C16 37.4195 13.1743 33.4562 8.9638 32.0043L3.37995 30.0788L10.3503 25.512C13.8759 23.2022 16 19.2711 16 15.0563V11Z" stroke="black" stroke-width="3"/>
                                </svg>
                                <p class="toki-text-msg">Where are you from?</p>
                        </div>
                    </div>
                    <div class="interactive-container flex-col-center">
                        <div class="clg-options-grid">
                            <div class="college-option">
                                <span class="clg-label">Dhaka</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Chittagong</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Khulna</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Barishal</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Rangpur</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Rajshahi</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Sylhet</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                            <div class="college-option">
                                <span class="clg-label">Mymensingh</span>

                                <svg class="clg-opt-checkmark" width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M19.5 1.75L7.125 14.125L1.5 8.5" stroke="#07192D" stroke-width="2.25" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                        <div class="move-section-ctrl-container flex-row-center">
                        <button class="move-section-btn">Continue</button>
                    </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="slide" id="slide-2">
                    <div class="toki-msg-container flex-row-center">
                        <img class="toki-img" src="\images\onboarding-assets\toki-slide-2.png" alt="Toki msg 2">
                        <div class="toki-msg">
                            <svg class="toki-msg__background" width="320" height="50" viewBox="0 0 320 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 11C16 5.7533 20.2533 1.5 25.5 1.5H285.5C290.747 1.5 295 5.75329 295 11V39C295 44.2467 290.747 48.5 285.5 48.5H22.6266C18.9668 48.5 16 45.5331 16 41.8733C16 37.4195 13.1743 33.4562 8.9638 32.0043L3.37995 30.0788L10.3503 25.512C13.8759 23.2022 16 19.2711 16 15.0563V11Z" stroke="black" stroke-width="3"/>
                                </svg>
                                <p class="toki-text-msg slide-2--toki-text-msg" id="tokiClgQtn"></p>
                        </div>
                    </div>
                    <div class="interactive-container flex-col-center">
                        <div class="clg-selection-wrapper flex-col-center">
                            <div class="clg-selection-grid">
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Chittagong College</p>

                                    <svg width="20" height="20" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="clg-select-icon">
                                        <g clip-path="url(#clip0_1844_2149)">
                                            <circle cx="14" cy="14" r="14" fill="#1D8102"/> <!-- Makes the inner circle green -->
                                            <path d="M20.0564 8.62512L11.744 16.9376L7.94357 13.1371C7.49539 12.689 6.76887 12.689 6.32069 13.1371C5.8726 13.5853 5.8726 14.3118 6.32069 14.76L10.9326 19.3719C11.1567 19.5959 11.4503 19.708 11.744 19.708C12.0377 19.708 12.3314 19.5959 12.5555 19.3719L21.6793 10.2481C22.1274 9.79992 22.1274 9.07339 21.6793 8.62521C21.2311 8.17703 20.5045 8.17703 20.0564 8.62512Z" fill="white"/> <!-- Makes the checkmark white -->
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_1844_2149">
                                                <rect width="28" height="28" fill="white"/>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                     
                                </div>
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Chittagong College</p>
                                </div>
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Chittagong College</p>
                                </div>
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Chittagong College</p>
                                </div>
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Mohosin College</P>
                                </div>
                                <div class="clg-selection__card flex-col-center">
                                    <img 
                                    class="clg-selection__card--logo"
                                    src="\images\onboarding-assets\College-logos\chittagong-college-logo.png" alt="Chittagong College">

                                    <p class="clg-label">Chittagong College</p>
                                </div>
                            </div>
                        </div>
                        
                    <div class="move-section-ctrl-container flex-row-center">
                        <button class="move-section-btn">Continue</button>
                    </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="slide" id="slide-3">
                    <div class="toki-msg-container flex-row-center">
                        <img class="toki-img toki-img__1" src="\images\Toki-onboarding-msg-2.png" alt="Toki msg 1">
                        <div class="toki-msg">
                            <svg class="toki-msg__background" width="297" height="50" viewBox="0 0 297 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 11C16 5.7533 20.2533 1.5 25.5 1.5H285.5C290.747 1.5 295 5.75329 295 11V39C295 44.2467 290.747 48.5 285.5 48.5H22.6266C18.9668 48.5 16 45.5331 16 41.8733C16 37.4195 13.1743 33.4562 8.9638 32.0043L3.37995 30.0788L10.3503 25.512C13.8759 23.2022 16 19.2711 16 15.0563V11Z" stroke="black" stroke-width="3"/>
                                </svg>
                                <p class="toki-text-msg">Where are you from?</p>
                        </div>
                    </div>
                    <div class="interactive-container flex-col-center">
                        
                        <div class="move-section-ctrl-container flex-row-center">
                        <button class="move-section-btn">Continue</button>
                    </div>
                    </div>
                </div>

                <!-- Slide 4 -->
                <div class="slide" id="slide-4">
                    <div class="toki-msg-container flex-row-center">
                        <img class="toki-img toki-img__1" src="\images\Toki-onboarding-msg-2.png" alt="Toki msg 1">
                        <div class="toki-msg">
                            <svg class="toki-msg__background" width="297" height="50" viewBox="0 0 297 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 11C16 5.7533 20.2533 1.5 25.5 1.5H285.5C290.747 1.5 295 5.75329 295 11V39C295 44.2467 290.747 48.5 285.5 48.5H22.6266C18.9668 48.5 16 45.5331 16 41.8733C16 37.4195 13.1743 33.4562 8.9638 32.0043L3.37995 30.0788L10.3503 25.512C13.8759 23.2022 16 19.2711 16 15.0563V11Z" stroke="black" stroke-width="3"/>
                                </svg>
                                <p class="toki-text-msg">Where are you from?</p>
                        </div>
                    </div>
                    <div class="interactive-container flex-col-center">
                        
                        <div class="move-section-ctrl-container flex-row-center">
                        <button class="move-section-btn req-">Continue</button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/onboarding-data.js"></script>
    <script src="/js/onboarding.js"></script>

</body>
</html>