<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <% if(accepted) { %>
            <p>New password: <input type="password" name="password"></p>
            <p id="message" style="display: none;"></p><br>
            <button class="change-password" onclick="changePassword()">Change password</button>

        <% } else if (accepted === false) { %>
            <p>This reset token is not valid!! Please request a new one</p>
            <p>Email: <input type="email" name="email"></p>
            <button class="send-link" onclick="sendLink()">Send link</button>

        <% } else { %>
            <p>Email: <input type="email" name="email"></p>
            <button class="send-link" onclick="sendLink()">Send link</button>
        <% } %>
    </div>

    <script>
        async function sendLink() {
            let email = document.querySelector('input[type="email"]').value

            email ? (async function() {
                let response = await fetch('/auth/password-reset', {
                    method: "post",
                    body: (function() {
                        let userData = new FormData()
                        userData.append("email", email)
                        return userData
                    })()
                })
                let data = await response.json()
                data.sent ? document.querySelector('.container').innerHTML = "<h1>An email has been sent</h1>" : document.querySelector('.container').innerHTML = "<h1>Something went wrong!</h1>" 
            })() : false
        }


        async function changePassword() {
            function actionMessage(message) {
                document.querySelector('#message').innerHTML = message
                document.querySelector('#message').style.display = 'inline'
                document.querySelector('input[type="password"]').value = ""
            }

            let password = document.querySelector('input[type="password"]').value
            let reset_token = (new URL(window.location.href)).searchParams.get('token')

            if (reset_token && password ) {
                let response = await fetch('/auth/password-change', {
                    method: 'post',
                    body: (function() {
                        let userData = new FormData()
                        userData.append("reset_token", reset_token)
                        userData.append("password", password)
                        return userData
                    })()
                })
                let data = await response.json()

                if (data.changed) {
                    actionMessage("Password changed successfully! Redirecting to the login page in 5 seconds")
                    setTimeout(() => {
                        window.location.href = '/login'
                    }, 5000)
                } else if (data.changed === false) {
                    actionMessage("Couldn't change the password correctly! Please try again a bit later or request a new reset token!")
                } 
            }
        }
    </script>
</body>
</html>