<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Email: <input type="email" name="email"></p>
    <button class="send-link" onclick="sendLink()">Send link</button>
    <script>
        async function sendLink() {
            let email = document.querySelector('input[type="email"]').value
            let response = await fetch('/auth/password-reset', {
                method: "post",
                body: (function() {
                    let userData = new FormData()
                    userData.append("email", email)
                    return userData
                })()
            })
            let data = await response.json()
            console.log(data)
        }
    </script>
</body>
</html>