<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <% if(accepted) { %>
            <p>New password: <input type="password" name="password"></p>
            <button class="change-password" onclick="changePassword()">Change password</button>
        <% } else { %>
            <p>Email: <input type="email" name="email"></p>
            <button class="send-link" onclick="sendLink()">Send link</button>
        <% } %>
    </div>

    <script>
        async function sendLink() {
            let email = document.querySelector('input[type="email"]').value

            email ? (async function() {
                let response = await fetch('/auth/password-reset', {
                    method: "post",
                    body: (function() {
                        let userData = new FormData()
                        userData.append("email", email)
                        return userData
                    })()
                })
                let data = await response.json()
                data.sent ? document.querySelector('.container').innerHTML = "<h1>Email has been sent</h1>" : document.querySelector('.container').innerHTML = "<h1>Something went wrong!</h1>" 
            })() : false
        }


        async function changePassword() {
            function actionMessage(message) {
                document.querySelector('.container').innerHTML = message
            }

            let password = document.querySelector('input[type="password"]').value
            let reset_token = (new URL(window.location.href)).searchParams.get('token')

            reset_token && password ? (async function() {
                let response = await fetch('/auth/password-change', {
                    method: 'post',
                    body: (function() {
                        let userData = new FormData()
                        userData.append("reset_token", reset_token)
                        userData.append("password", password)
                        return userData
                    })()
                })
                let data = await response.json()
                if (!data.changed) {
                    actionMessage("<h1>Couldn't change the password correctly! Please try again a bit later</h1>")
                }

            })() : false
        }
    </script>
</body>
</html>