<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password?</title>

    <meta name="description" content="Forgot your password? change your account's password through email">
    <meta name="keywords" content="Change NoteRoom Password">
    <meta name="author" content="Noteroom Team">

    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/bar-loader.css">
    <link rel="stylesheet" href="/css/change-password.css">

    <link rel="apple-touch-icon" sizes="180x180" href="\assets\apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="\assets\favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="\assets\favicon-16x16.png">
    <link rel="icon" type="image/png" href="\assets\android-chrome-192x192.png">

    <%- include('/partials/links.ejs') %>
</head>
<body>
    <div class="outer-container flex-col-center">

        <div class="row-1__icon-holder">
            <img class="row-1--toki-img" src="\images\onboarding-assets\toki-slide-1.png" alt="Toki here to help">
        </div>

        <div class="row-2__action-msges flex-col-center">
            <h1 class="action-msges--main-title">Forgot Password?</h1>
            <p class="action-msges--sub-title">Provide the email linked with your account</p>

            <div class="action-msges--act-update" id="message"></div>
        </div>

        <div class="row-3__input-container flex-col-center">
            <% if(accepted) { %>
                <input class="input-container--input" placeholder="Enter Email" type="password" name="password" id="main">
                <button class="input-container--pri-btn" onclick="changePassword()">Change password</button>
    
            <% } else if (accepted === false) { %>
                <p class="reset-pd-error" >Failed to reset password. Please try again.</p>
                <input class="input-container--input" type="email" name="email" id="main">
                <button class="input-container--pri-btn" onclick="sendLink()">Continue</button>
    
            <% } else { %>
                <input class="input-container--input" placeholder="Enter Email" type="email" name="email" id="main">
                <button class="input-container--pri-btn" onclick="sendLink()">Continue</button>
            <% } %>
        </div>

        <div class="row-4__other-links-container flex-col-center">
            <a href="/login" class="login-link other-links">Login</a>
            <p class="sign-up-text">Don't have an account? <a href="/sign-up" class="sign-up-link other-links">Sign Up</a></p>
        </div>
    </div>
    
    <script>
        function actionMessage(message) {
            document.querySelector('#message').innerHTML = message
            document.querySelector('#message').style.display = 'inline'
            document.querySelector('input#main').value = ""
        }

        async function sendLink() {
            let email = document.querySelector('input[type="email"]').value

            email ? (async function() {
                let response = await fetch('/auth/password-reset', {
                    method: "post",
                    body: (function() {
                        let userData = new FormData()
                        userData.append("email", email)
                        return userData
                    })()
                })
                let data = await response.json()
                data.sent ? actionMessage("An email has been sent") : actionMessage("Something went wrong!") 
            })() : false
        }


        async function changePassword() {
            let password = document.querySelector('input[type="password"]').value
            let reset_token = (new URL(window.location.href)).searchParams.get('token')

            if (reset_token && password ) {
                let response = await fetch('/auth/password-change?action=reset', {
                    method: 'post',
                    body: (function() {
                        let userData = new FormData()
                        userData.append("reset_token", reset_token)
                        userData.append("password", password)
                        return userData
                    })()
                })
                let data = await response.json()

                if (data.changed) {
                    actionMessage("Password changed successfully! Redirecting to the login page in 5 seconds")
                    setTimeout(() => {
                        window.location.href = '/login'
                    }, 5000)
                } else if (data.changed === false) {
                    actionMessage("Couldn't change the password correctly! Please try again a bit later or request a new reset token!")
                } 
            }
        }
    </script>
</body>
</html>