<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main-pages.css" />
    <link rel="stylesheet" href="/css/search-profile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link
		href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
		rel="stylesheet"
	/>
	<link 
		href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" 
		rel="stylesheet"
	>
	<script
		src="https://kit.fontawesome.com/be4b1d4185.js"
		crossorigin="anonymous"
	></script>
	<script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <title>Find Other People in NoteRoom</title>
</head>
<body>
    <!-- <div class="container">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">ID</span>
            <input type="text" class="form-control" placeholder="Student's ID" aria-label="Student's ID"
                aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="button" id="button-addon2" onclick="find()">Search</button>
        </div>
    </div> -->
    <div class="middle-section">
        <div class="prfl-search-container">
            <fieldset class="field-container">
                <input type="text" placeholder="Search other people..." class="field" />
                <i class="fa-solid fa-magnifying-glass"></i>
            </fieldset>
        </div>
        <!-- Here are two section - 1. random profiles 2. search results. When there is a search query, remove the random one -->
        <div class="prfls-container">
            <!-- random prfls is the whole container for showing random prfls -->
            <div class="random-prfls-container">
                <h3 class="section-label">
                    Recent
                </h3>
                <div class="random-prfls">
                    <div class="random-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                        <span class="not-show-prfl">&times;</span>
                    </div>
                    <div class="random-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                        <span class="not-show-prfl">&times;</span>
                    </div>
                    <div class="random-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                        <span class="not-show-prfl">&times;</span>
                    </div>
                </div>
            </div>
            <div class="search-result-prfls-container">
                <h3 class="section-label">
                    Search Results
                </h3>
                <div class="results-prfls">
                    <div class="results-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                    </div>
                    <div class="results-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                    </div>
                    <div class="results-prfl">
                        <img src="\NoteRoom Caricature Cartoonic  - Anirban.jpg.png" alt="Profile Pic" class="prfl-pic">
                        <span class="prfl-name">Anirban Biswas</span>
                        <span class="prfl-desc">Do you know what it means by “Energy of a shell”?</span>
                        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/no-badge.png" alt="" class="user-badge">
                    </div>
            </div>
         </div>
    </div>
    




    <script>
        function find() {
            window.location.href = `user/${document.querySelector('.form-control').value}`
        }
    </script>
</body>

</html> 
               