<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/settings.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/be4b1d4185.js"
      crossorigin="anonymous"
    ></script>
    <title>Settings</title>
</head>
<body>
    <div class="container">
        <h1>Settings</h1>
        <div class="account-info section">
        <div class="section-header">
            <svg width="69" height="70" viewBox="0 0 69 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect y="0.4375" width="68.6087" height="68.6087" rx="34.3043" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M44.5961 27.8811C44.5961 33.5649 39.9885 38.1725 34.3048 38.1725C28.621 38.1725 24.0135 33.5649 24.0135 27.8811C24.0135 22.1974 28.621 17.5898 34.3048 17.5898C39.9885 17.5898 44.5961 22.1974 44.5961 27.8811ZM41.1656 27.8811C41.1656 31.6703 38.0939 34.742 34.3048 34.742C30.5156 34.742 27.4439 31.6703 27.4439 27.8811C27.4439 24.092 30.5156 21.0203 34.3048 21.0203C38.0939 21.0203 41.1656 24.092 41.1656 27.8811Z" fill="#07192D"/>
                <path d="M34.3048 43.3181C23.1998 43.3181 13.7381 49.8847 10.1339 59.0845C11.0119 59.9563 11.9368 60.781 12.9045 61.5544C15.5884 53.108 24.0078 46.7485 34.3048 46.7485C44.6017 46.7485 53.0212 53.108 55.705 61.5544C56.6728 60.781 57.5977 59.9563 58.4757 59.0845C54.8715 49.8847 45.4098 43.3181 34.3048 43.3181Z" fill="#07192D"/>
            </svg>
            <p class="section-title">Account Information</p>
        </div>
        <div class="msg-section">
            <span class="section-msg">User name, email, change password</span>
            <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                </svg>
            </button>
        </div>
        </div>
        <div class="notifications section">
            <div class="section-header">
                <svg width="56" height="57" viewBox="0 0 56 57" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9.33334 44.7721V40.1055H14V23.7721C14 20.5444 14.9722 17.686 16.9167 15.1971C18.8611 12.6694 21.3889 11.0166 24.5 10.2388V8.60547C24.5 7.63325 24.8306 6.81658 25.4917 6.15547C26.1917 5.45547 27.0278 5.10547 28 5.10547C28.9722 5.10547 29.7889 5.45547 30.45 6.15547C31.15 6.81658 31.5 7.63325 31.5 8.60547V10.2388C34.6111 11.0166 37.1389 12.6694 39.0833 15.1971C41.0278 17.686 42 20.5444 42 23.7721V40.1055H46.6667V44.7721H9.33334ZM28 51.7721C26.7167 51.7721 25.6083 51.3249 24.675 50.4305C23.7806 49.4971 23.3333 48.3888 23.3333 47.1055H32.6667C32.6667 48.3888 32.2 49.4971 31.2667 50.4305C30.3722 51.3249 29.2833 51.7721 28 51.7721ZM18.6667 40.1055H37.3333V23.7721C37.3333 21.2055 36.4195 19.0082 34.5917 17.1805C32.7639 15.3527 30.5667 14.4388 28 14.4388C25.4333 14.4388 23.2361 15.3527 21.4083 17.1805C19.5806 19.0082 18.6667 21.2055 18.6667 23.7721V40.1055Z" fill="#1D1B20"/>
                    </svg>                    
                <p class="section-title">Notifications</p>
            </div>
            <div class="msg-section nft-msg">
                <span class="section-msg">Manage NoteRoom notifications for you.</span>
                <button class="section-btn">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                      </label>
                </button>
            </div>
        </div>
        <div class="others section">
            <div class="section-header others">
                <svg width="49" height="13" viewBox="0 0 49 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.112 1.02699C25.6184 0.666724 27.8997 2.75324 28.2074 5.68736C28.5151 8.62148 26.7328 11.2921 24.2265 11.6524C21.7201 12.0126 19.4388 9.92611 19.1311 6.992C18.8233 4.05788 20.6057 1.38725 23.112 1.02699Z" fill="#07192D"/>
                    <ellipse cx="5.34183" cy="4.5848" rx="5.34183" ry="4.5848" transform="matrix(-0.104312 -0.994545 0.989827 -0.142278 1.87698 12.3008)" fill="#07192D"/>
                    <path d="M42.8866 1.03478C45.3929 0.674507 47.6742 2.76102 47.9819 5.69514C48.2897 8.62926 46.5073 11.2999 44.001 11.6602C41.4946 12.0204 39.2134 9.93393 38.9056 6.99981C38.5979 4.06569 40.3802 1.39505 42.8866 1.03478Z" fill="#07192D"/>
                    </svg>                    
                <p class="section-title">Others</p>
            </div>
            <div class="msg-section">
                <span class="section-msg">User guide</span>
                <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                    </svg>
                </button>
            </div>
            <div class="msg-section">
                <span class="section-msg">Help and Support</span>
                <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                    </svg>
                </button>
            </div>
            <div class="msg-section">
                <span class="section-msg">Privacy Policy</span>
                <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                    </svg>
                </button>
            </div>
            <div class="msg-section">
                <span class="section-msg">Help Us Improve NoteRoom</span>
                <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                    </svg>
                </button>
            </div>
            <div class="msg-section">
                <span class="section-msg">About the Team</span>
                <button class="section-btn"><svg width="51" height="52" viewBox="0 0 51 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z" fill="#1D1B20"/>
                    </svg>
                </button>
            </div>
            </div>
    </div>
</body>
</html>