<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/settings.css" />
    <link rel="stylesheet" href="/css/header-footer.css">

    <script src="https://cdn.jsdelivr.net/npm/dexie@latest/dist/dexie.min.js" defer></script>

    <title>Settings</title>

    <%- include('partials/links.ejs') %>
  </head>
  <body>
    <header>
      <i class="fa-solid fa-arrow-left" onclick="goPrevPage()" ></i>
      <h1>Settings</h1>
  </header>
    <div class="container">
      <div class="account-info section">
        <div class="section-header">
          <svg
            width="69"
            height="70"
            viewBox="0 0 69 70"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              y="0.4375"
              width="68.6087"
              height="68.6087"
              rx="34.3043"
              fill="white"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M44.5961 27.8811C44.5961 33.5649 39.9885 38.1725 34.3048 38.1725C28.621 38.1725 24.0135 33.5649 24.0135 27.8811C24.0135 22.1974 28.621 17.5898 34.3048 17.5898C39.9885 17.5898 44.5961 22.1974 44.5961 27.8811ZM41.1656 27.8811C41.1656 31.6703 38.0939 34.742 34.3048 34.742C30.5156 34.742 27.4439 31.6703 27.4439 27.8811C27.4439 24.092 30.5156 21.0203 34.3048 21.0203C38.0939 21.0203 41.1656 24.092 41.1656 27.8811Z"
              fill="#07192D"
            />
            <path
              d="M34.3048 43.3181C23.1998 43.3181 13.7381 49.8847 10.1339 59.0845C11.0119 59.9563 11.9368 60.781 12.9045 61.5544C15.5884 53.108 24.0078 46.7485 34.3048 46.7485C44.6017 46.7485 53.0212 53.108 55.705 61.5544C56.6728 60.781 57.5977 59.9563 58.4757 59.0845C54.8715 49.8847 45.4098 43.3181 34.3048 43.3181Z"
              fill="#07192D"
            />
          </svg>
          <p class="section-title">Account Information</p>
        </div>
        <div class="msg-section">
          <span class="section-msg">User name, email, change password</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              onclick="location.href='/support'"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="notifications section">
        <div class="section-header">
          <svg class="logout-icon" width="45" height="46" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.75 29.75H7.08333C6.33189 29.75 5.61122 29.4515 5.07986 28.9201C4.54851 28.3888 4.25 27.6681 4.25 26.9167V7.08333C4.25 6.33189 4.54851 5.61122 5.07986 5.07986C5.61122 4.54851 6.33189 4.25 7.08333 4.25H12.75M22.6667 24.0833L29.75 17M29.75 17L22.6667 9.91667M29.75 17H12.75" stroke="black" stroke-width="2.83333" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            
          <p class="section-title">Logout</p>
        </div>
        <div class="msg-section nft-msg">
          <span class="section-msg"
            >Feel free to log out, but remember your password—contacting support isn’t as fun as staying logged in!</span
          >
            <button class="logout" onclick="logout()">Logout</button>
        </div>
      </div>
      <div class="others section">
        <div class="section-header others">
          <svg
            width="49"
            height="13"
            viewBox="0 0 49 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M23.112 1.02699C25.6184 0.666724 27.8997 2.75324 28.2074 5.68736C28.5151 8.62148 26.7328 11.2921 24.2265 11.6524C21.7201 12.0126 19.4388 9.92611 19.1311 6.992C18.8233 4.05788 20.6057 1.38725 23.112 1.02699Z"
              fill="#07192D"
            />
            <ellipse
              cx="5.34183"
              cy="4.5848"
              rx="5.34183"
              ry="4.5848"
              transform="matrix(-0.104312 -0.994545 0.989827 -0.142278 1.87698 12.3008)"
              fill="#07192D"
            />
            <path
              d="M42.8866 1.03478C45.3929 0.674507 47.6742 2.76102 47.9819 5.69514C48.2897 8.62926 46.5073 11.2999 44.001 11.6602C41.4946 12.0204 39.2134 9.93393 38.9056 6.99981C38.5979 4.06569 40.3802 1.39505 42.8866 1.03478Z"
              fill="#07192D"
            />
          </svg>
          <p class="section-title">Others</p>
        </div>
        <div class="msg-section">
          <span class="section-msg">User guide</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              onclick="window.open('https://app.hubspot.com/guide-creator/g/YPlbIIXPTt?uuid=f456224c-8bcd-4673-8a7d-573176e779bb', '_blank'); return false"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
        <div class="msg-section">
          <span class="section-msg">Help and Support</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              onclick="location.href='/support'"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
        <div class="msg-section">
          <span class="section-msg">Privacy Policy</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              onclick="location.href='/privacy-policy'"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
        <div class="msg-section">
          <span class="section-msg">Help Us Improve NoteRoom</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              onclick="location.href='/support'"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
        <div class="msg-section">
          <span class="section-msg">About the Team</span>
          <button class="section-btn">
            <svg
              width="51"
              height="52"
              viewBox="0 0 51 52"
              fill="none"
              onclick="location.href='/about-us'"
            >
              <path
                d="M26.775 25.9375L17 16.1625L19.975 13.1875L32.725 25.9375L19.975 38.6875L17 35.7125L26.775 25.9375Z"
                fill="#1D1B20"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
    <script src="/js/utils.js" defer></script>
    <script src="/js/settings.js" defer></script>
  </body>
</html>
