<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Noteroom - Your Ultimate Student Community of Bangladesh</title>
    <meta name="description" content="Create your Noteroom account to share notes, collaborate with classmates, and stay organized with your studies. Join the community and make learning easier today!">
    <meta name="keywords" content="Noteroom sign up, student collaboration platform, share notes online, study groups, online study platform, academic collaboration, group teaching sessions, student notes sharing">
    <meta name="author" content="Noteroom Team">
    <link rel="stylesheet" href="/css/signup-login.css"> 
	<link rel="stylesheet" href="/css/error-popup.css" />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/bar-loader.css">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <!-- tooltips cdn of tippy.js -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
	<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

    <%- include('partials/links.ejs') %>
</head>
<body class="flex-center-evenly">
    <div class="main-container flex-column-center">
        <div class="brand-section flex-column-center">
            <img src="assets\apple-touch-icon.png" alt="NoteRoom" class="brand__site-logo">
            <p class="brand__logo-title">NoteRoom</p>
            <h2 class="brand__main-heading">Create a new account</h2>
            <p class="txt-gray-light-bold">Join the country’s top note-sharing platform to connect, share, and download notes</p>
        </div>
        <div class="acquisition-container flex-column-center">
            <!-- Google Sign up options -->
            <!-- <button type="button" class="google-btn" >
                Sign Up with Google
            </button> -->
            <div id="g_id_onload"
                 data-client_id="325870811550-0c3n1c09gb0mncb0h4s5ocvuacdd935k.apps.googleusercontent.com"
                 data-callback="handleCredentialResponse"
                 data-auto_prompt="false">
            </div>
            <div class="g_id_signin"
                 data-type="standard"
                 data-size="large"
                 data-theme="outline"
                 data-text="sign_in_with"
                 data-shape="rectangular"
                 data-logo_alignment="left">
            </div>

            <div class="separator flex-center-evenly">
                <span class="line"></span>
                <span class="txt-gray-light-bold">Or</span>
                <span class="line"></span>
            </div>

            <div class="custom-form flex-column-center">
                
                <input type="text" name="displayname" placeholder="Your Name" class="custom__input-field" required data-tippy-content="Enter your name (e.g. John Doe)">
            
                <input type="email" name="email" placeholder="Email (required)" class="custom__input-field" required data-tippy-content="Enter your valid email address.">
            
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Set a password" class="custom__input-field custom__input-field--marginless" required data-tippy-content="Use a strong yet memorable password.">
                    <button type="button" id="togglePassword" class="toggle-password">
                        <i class="fa-solid fa-eye"></i>
                    </button>
                </div>

                <button class="primary-btn flex-center-evenly">Sign Up
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="login-spinner" style="display: none"></span> <!--Maybe add the spinner, this is the bootstrap one, I just wanted to see how that works. Make yours like this, it will be easy to handle.-->
                    <div class="btn-loader"></div>
                </button>
            </div>
            
        </div>
        <p class="redirecting-msg">Already have an account? <a href="/login" class="redirect-link">Login</a></p>
    </div>

    <img class="focus-img" src="\images\sign-up-enhancer.png" alt="Two friends talking about NoteRoom">

    <%- include('side-panel', { block: 'error-popup' }) %>

	<script src="/js/notificationHandler.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/sign-up.js"></script>
    <script src="/js/utils.js"></script>
</body>
</html>