<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/css/user-profile.css">
    <!-- this is the famous font awesome cloud cdn link to access the icons used -->
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css”>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>

</head>
<body>
    <!-- on the left side we'll keep the side panel containing notes or whatever ui design requires : we'll code that during dashboard sprint -->

    <!-- this is the middle section of the page. -->
        <!-- When we code the search bar that will go here. -->
        <div class="search-bar-box">
            <input type="text" class="search-bar" placeholder="Search Notes">
            <button><!--troubleshoot-->
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
    </div>
    <!-- Rafi: Arnob the elements starting with <%//=  %> are varibales, don't focus on them. I am commenting them out because you currently don't have access to the database. 
    After finishing signup page, I will add that in the internet and then you can work with them -->
    <div class="middle-section">
        <div class="ms-first-row">
            <!-- Rafi:  Don't use the 'public/images/image.png', just write 'images/image.png' -->
             <!-- Reply: still they aren't loading. Whose side problem is this? -->
            <img src="images/Anirban%20Caricature%20-%20NoteRoom.png" alt="Profile Picture">
            <div class="info-items-1"><!--We'll update the frontend js codes for these element soon-->
                <span class="user-name" ><% //= student.user_name %> Anirban Biswas</span>
                <span class="user-clg-id" >ID: <%//= student.student_id %>6789</span><!--for this non-editable data, basic data fetch will do or even DOM-->
                <div class="user-group"><%//= student.group %>Science</div>
                <!-- fetching exam rank needs to be discussed-->
                <!-- <div class="exam-ranking">Previous Exam Ranking: No Exams Yet</div> -->
            </div>
            <div class="divider"></div>
            <div class="user-gains"><!--this is another core feature we need to develop. Looking forward to your algorithms and overall my plan is DOM manipulation-->
                <div class="top-voice-badge"><%//= student.badge %>No Badge</div>
                <div class="featured-note">Featured notes count: <%//= student.featured_notes.length %>0</div>
            </div>
        </div>

        <div class="ms-second-row">
            <div class="user-display-name">
                <span class="input-label" >Display Name</span>
                <div class="display-name-box">
                    <p><%//= student.user_name %>Anirban Biswas</p>
                </div>  
            </div>
            <div class="user-college-year">
                <span class="input-label" >College Year</span>
                <div class="display-year-box">
                    <p><%//= student.year %>1st Year</p>
                </div>
            </div>
        </div>
        <div class="ms-third-row">
            <div class="user-bio">
                <span class="input-label" >Bio</span>
                <div class="bio-box">
                    <p><%//= student.bio %>Frontend developer</p>
                </div>  
            </div>
            <div class="user-email">
                <span class="input-label">Email Address</span>
                <div class="email-box">
                    <p><%//= student.email %>anirban@gmail.com</p>
                </div>  
            </div>
        </div>
        <div class="ms-fourth-row">
            <div class="user-college-roll">
                <span class="input-label" >College Roll</span>
                <div class="college-roll-box">
                    <p><%//= student.roll_number %>452</p>
                </div>  
            </div>
            <div class="user-college-section">
                <span class="input-label" >College Section</span>
                <div class="college-section-box">
                    <p>4C</p>
                </div>
        </div>
        </div>
        <div class="ms-fifth-row">
            <div class="user-fav-sub">
                <span class="input-label" >Favourite Subject</span>
                <div class="fav-sub-box">
                    <p><%//= student.favourite_sub %>Higher Math</p>
                </div>  
            </div>
            <div class="user-non-fav-sub">
                <span class="input-label">Not So Favourite Subject</span>
                <div class="non-fav-sub-box">
                    <p><%//= student.non_fav_sub %>Bangla</p>
                </div>
            </div>
        </div>
        
        <!-- We can use DOM here to show the notes prview here. -->
         <!-- This section can be called the ms-sixth-row. -->
        <div class="uploaded-notes-section">
            <% // if (visiting) { %>
                <!-- <h2><%//= student.user_name %>'s Notes</h2> -->
            <%// } else { %>
                <h2>My Notes</h2>
            <% //} %> 
            <!-- Rafi: This is an ejs logic for dynamic viewing, also I am commenting that because it won't work on your machine --> -->
            <div class="notes-container">
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 1 Thumbnail">
                    <h3>Note Title 1</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 2 Thumbnail">
                    <h3>Note Title 2</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 3 Thumbnail">
                    <h3>Note Title 3</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <div class="note-card">
                    <img src="images\note-1.png" alt="Note 4 Thumbnail">
                    <h3>Note Title 4</h3>
                    <p>Note content summary or excerpt goes here...</p>
                </div>
                <!-- More cards will come through dom js -->
                <!-- Rafi: We will work on notes after finishing evrything related profile and signup -->
            </div>
        </div>
        
    </div>

    <script src="/js/user-profile.js"></script> 
    
</body>
</html>
