.search-container{
  width:100vh;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.search-bar-box {
  background-color: var(--light-gray);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;  
  align-items: center;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
}

.search-bar {
  max-width: 980px;
  min-width: 100px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #1e1e1e;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 768px;
  height: 57px;
  padding-left: 10px;
  font-size: 1.2rem;
}
.search-bar:focus {
  outline: none;
}

.search-bar-box button {
  cursor: pointer;
  font-size: 1.8rem;
  background: rgba(255, 255, 255, 0.18);
  border: 2px solid #1e1e1e;
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  min-width: 30px;
  transition: transform 0.2s ease;

}
.fa-magnifying-glass{
  transition: color 0.2s ease;
}
.fa-magnifying-glass:hover{
  color: rgba(0, 0, 0, 0.7);
}
.fa-magnifying-glass:active, .search-bar-box button:active {
  transform: scale(0.95);
  color: black; 
}
.mbl-notification-elements{
  position: relative;
  display: none;
  width: fit-content;
  min-width: 50px;
  min-height: auto;
  padding: 0px 0px;
}
.mobile-nft-btn{
  cursor: pointer;
  min-width: 40px;
  padding: 0px 10px 0px 10px;
  padding:0px 2vw;
  transition: transform 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
}

.mobile-nft-btn:hover {
  transform: scale(1.1); 
  opacity: 0.8; 
}

.mobile-nft-btn:active {
  transform: scale(0.95); 
  background-color: #f0f0f0;
}

@keyframes rotate-shake {
  0%, 100% { transform: rotate(0deg); }
  20%, 60% { transform: rotate(-10deg); }
  40%, 80% { transform: rotate(10deg); }
}

.shake {
  animation: rotate-shake 0.5s; 
}
.badge-nft {
  position: absolute;
  top: 2px;  
  right: 10px; 
  background-color: rgb(255, 61, 61);
  color: white;
  border-radius: 50%;
  padding: 3px 3px;
  font-size: 10px;
  width: 12px;
  height: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 12px; 
  text-align: center;
  display: none;
}
.results-container{
  width: 100%;
  background-color: var(--light-gray);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-results{
  width: 100%;
  max-width: 1000px;
  height: 250px;
  overflow-y: scroll;
  padding: 0px 15px 15px 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-results::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.search-results::-webkit-scrollbar-track,
.search-results::-webkit-scrollbar-thumb {
  display: none;
}
.search-results a {
  width: 100%;
}
.results-card {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 20px 20px 0px;
  margin: 3px 0px;
  cursor: pointer;
  border-left: 3px solid transparent; 
  transition: background-color 0.1s, border-left 0.1s; 
}

.results-card:hover {
  background-color: #e3e3e3;
  border-left: 3px solid var(--neon-blue); 
}
.results-card p{
  width: 90%;
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.9);
}
.results-card i {
  font-size: 1.2rem;
  transform: rotate(45deg);
  color: rgba(0, 0, 0, 0.9);
}
.status{
  width: 100%;
  height: 90%;
  display: none;
  justify-content: center;
  align-items: center;
}
.search-results-loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--squid-ink);
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1{
   0%    {clip-path: polygon(50% 50%,0       0,  50%   0%,  50%    0%, 50%    0%, 50%    0%, 50%    0% )}
   12.5% {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100%   0%, 100%   0%, 100%   0% )}
   25%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 100% 100%, 100% 100% )}
   50%   {clip-path: polygon(50% 50%,0       0,  50%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   62.5% {clip-path: polygon(50% 50%,100%    0, 100%   0%,  100%   0%, 100% 100%, 50%  100%, 0%   100% )}
   75%   {clip-path: polygon(50% 50%,100% 100%, 100% 100%,  100% 100%, 100% 100%, 50%  100%, 0%   100% )}
   100%  {clip-path: polygon(50% 50%,50%  100%,  50% 100%,   50% 100%,  50% 100%, 50%  100%, 0%   100% )}
}
@keyframes l20-2{ 
  0%    {transform:scaleY(1)  rotate(0deg)}
  49.99%{transform:scaleY(1)  rotate(135deg)}
  50%   {transform:scaleY(-1) rotate(0deg)}
  100%  {transform:scaleY(-1) rotate(-135deg)}
}
.middle-section {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
  background-color: white;
}

.middle-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.middle-section::-webkit-scrollbar-track,
.middle-section::-webkit-scrollbar-thumb {
  display: none;
}

.notification-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 22%;
  height: 100vh;
  background: var(--light-gray);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: -1px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1003;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease; 
}
.notification-panel::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1002; 
  display: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px); 
}
.notification-panel-header {
  width: 100%;
  padding: 5px 10px 5px 10px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.profile-pic {
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  border: 2px solid var(--squid-ink);
  border-radius: 50px;
  object-fit: contain;
}
.btn-hide-nft{
  display: none;
  min-width: 40px;
}
.settings-icon {
  font-size: 3rem;
  margin-left: 45px;
  margin-right: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.settings-icon:hover {
  transform: rotate(-40deg);
  opacity: 0.8;
}
.sub-header {
  font-weight: 500;
  font-size: 1.2rem;
  align-content: center;
  width: 100%;
}
.notifications-container {
  width: 100%;
  display: flex;
  /* this is one way to give the most recent notification:) */
  /* flex-direction: column-reverse; */
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.notification {
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 5px 10px;
  margin-bottom: 20px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    transform 0.2s ease, opacity 0.2s ease;
}
.notification:hover {
  background-color: #f8f8f8;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
  opacity: 0.98;
}
.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 2px 0px 0px;
}
.notification-title {
  font-weight: 550;
  font-size: 1.05rem;
  transition: color 0.3s ease;
}
div.first-row > .notification-link{
  display: block;
  text-decoration: none;
  color: inherit;
}
div.notification-msg > .notification-link-2 {
  display: inline;
  text-decoration: none;
  color: inherit;
}

.remove-notification {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease;
  text-decoration: none;
}
.remove-notification:hover {
  transform: scale(1.1);
  color: #ff6666;
}
.notification-msg {
  width: 100%;
  font-weight: 400;
  padding: 0 0 5px 0;
}
div.notification-msg > .commenter-prfl{
  color: var(--squid-ink);
  text-decoration: none;
}
div.notification-msg > .commenter-prfl:hover{
  text-decoration: underline;
}
div.notification-msg > .commenter-prfl:visited{
  color: var(--squid-ink);
}
/* Left Panel */
.left-panel {
  position: fixed; 
  top: 0px;
  left: 0;
  width: 22%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  filter: drop-shadow(4.31887px -6.4783px 4.31887px rgba(0, 0, 0, 0.25));
  background: linear-gradient(333.5deg, #07192d 27%, #fefefe 200%);
}

.left-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px 10px 20px 0px;
  img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
}
.users-db-msg {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--light-gray);
}
.btn-home {
  width: 70%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #001832;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 400;
  color: var(--squid-ink);
  font-size: 1.06rem;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}
.btn-home:hover {
  background-color: #f0eeee;
  transform: scale(1.03);
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
}
.btn-upload-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  font-size: 1.1rem;
  background: var(--neon-blue);
  border-radius: 12px;
  font-weight: 800;
  color: #ffffff;
  transition: background-color 0.3s ease, transform 0.3s ease,
    box-shadow 0.3s ease, border 0.3s ease;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}

.btn-upload-note svg {
  margin-right: 5px;
  transition: fill 0.3s ease;
}

.btn-upload-note:hover {
  background-color: var(--squid-ink);
  color: var(--neon-blue);
  transform: scale(1.05);
  box-shadow: 0 0 10px var(--neon-blue);
  border: 2px solid var(--neon-blue);
}

.btn-upload-note:hover svg {
  fill: var(--neon-blue);
}

.btn-upload-note::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 300%;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  transition: all 0.3s ease;
}

.btn-upload-note:hover::before {
  left: 100%;
}
.btn-upload-note:active {
  transform: scale(1);
  box-shadow: 0 0 5px var(--neon-blue);
}
.sv-header {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--neon-blue);
  margin-top: 30px;
  margin-bottom: 5px;
  width: 85%;
}
.saved-notes-container {
  width: 85%;
  height: 33%;
  padding: 15px 10px;
  overflow-y: scroll;
  margin-bottom: 8vh;
}
.saved-notes-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.no-saved-notes-message{
  padding: 10px 5px; 
  font-size: 0.9rem; 
  color: #ffffffdc;
  P {
    padding: 5px 0PX;
  }
}
.anim-bg {
  position: relative;
  overflow: hidden;
  color: rgb(0, 0, 0);
  font-weight: 600;
  padding: 0px;
}

.anim-bg::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: hsla(0, 0%, 100%, 0.9);
  z-index: -1;
  transition: width 1s ease-in-out;
  animation: expand 2s forwards; 
}

@keyframes expand {
  0% {
    width: 0%;
     
  }
  100% {
    width: 100%;
  }
}
.saved-note {
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  width: 95%;
  height: 40px;
  background: var(--light-gray);
  border: 1px solid var(--neon-blue);
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 18px;
  color: var(--squid-ink);
  border-radius: 8px; 
  margin-bottom: 11px;
  transition: opacity 0.4s ease, transform 0.4s ease, box-shadow 0.2s ease, border-color 0.2s ease,
  background-color 0.2s ease;  

}

.hide {
  opacity: 0;  
  visibility: hidden;  
  transform: translateY(20px); 
}

/* Class to show notes with a fade-in effect */
.saved-note.show-sv-in-LP {
  opacity: 1; 
  visibility: visible; 
  transform: translateY(0);  
}
.saved-note:hover {
  box-shadow: 0px 6px 12px rgb(255, 255, 255);
  border-color: var(--neon-blue);
  background-color: #ffffff;
}
.sv-n-link{
  color: var(--squid-ink);
  text-decoration: none;
}
.sv-n-link:hover{
  text-decoration: none;
}
.sv-n-link:visited{
  color: var(--squid-ink);
}
.right-panel-btn {
  box-sizing: border-box;
  width: 60%;
  height: 46.43px;
  background: #ffffff;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 12px;
  font-weight: 400;
  color: #4f4f4f;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.right-panel-btn:hover {
  background: #ebebeb;
  border-color: #b0b0b0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* Confetti and Pop up for new user sign up celebration */
.popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* Centers the element */
  width: 300px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 5px 20px rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  text-align: center;
  z-index: 1010;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(138, 138, 138, 0.5);
  backdrop-filter: blur(5px);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s;
  z-index: 1009;
}

.overlay.show {
  visibility: visible;
  opacity: 1;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--squid-ink);
  border: none;
  border-radius: 5px;
  color: var(--neon-blue);
  cursor: pointer;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1008; /* Ensures confetti is in front of the overlay */
  pointer-events: none;
}
/******************************************************
 Keep the Mobile Version of the code possibliy here
 ****************************************************** */
.mbl-profile-pic{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid var(--squid-ink);
  border-radius: 50px;
  object-fit: contain;
  display: none;
}
.mbl-ctrl-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: fit-content;
  bottom: 0px;
  background: var(--squid-ink);
  overflow-x: hidden; 
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.2);
}

.mbl-ctrl-panel svg {
  height: auto;
  min-width: 8vw;  /* Proportional width for consistent scaling */
  max-width: 12vw;  /* To prevent icons from growing too large */
  padding: 0px 2vw; /* Relative padding to ensure uniform spacing */
  transition: transform 0.3s ease, color 0.3s ease;
}

.mbl-ctrl-panel svg:hover, .mbl-ctrl-panel svg:active {
  transform: scale(1.1);
  cursor: pointer;
}

/* UPLOAD BUTTON (Responsive special effects) */
.mbl-upload-btn {
  position: relative;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 50%;
  min-width: 12vw;
  min-height: 12vw; 
  padding: 2vw;
}

.mbl-upload-btn:hover, .mbl-upload-btn:active {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.19); 
}

.mbl-upload-btn::before {
  content: '';
  position: absolute;
  top: -15%;
  left: -15%;
  right: -15%;
  bottom: -15%;
  border-radius: 50%;
  background-color: rgba(0, 183, 255, 0.4);
  animation: pulse 2s infinite;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* Timed special effect after a few seconds (for upload button) */
@keyframes spin-border {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #00bfff;
    transform: rotate(0deg);
  }
  50% {
    border-color: #1e90ff;
    transform: rotate(180deg);
  }
  75% {
    border-color: #00bfff;
    transform: rotate(360deg);
  }
  100% {
    border-color: transparent;
    transform: rotate(720deg);
  }
}

.mbl-upload-btn-effect {
  border: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  animation: spin-border 2s ease infinite;
  z-index: -1;
  pointer-events: none;
}

.mbl-btn-home {
  margin-left: 2vw;
}

.mbl-settings-icon {
  margin-right: 2vw;
}
@keyframes blink-effect {
  0%, 90% {
    opacity: 0;
  }
  95%, 100% {
    opacity: 1;
  }
}

/* ****** Responsiveness ***** */

/* Temporarily Hiding the notification panel */
@media (max-width: 1530px) {
  .notification-panel {
    width: 20%;
  }
}

/* for left-panel */
@media (min-width: 1025px) {
  .left-panel {
    z-index: 1005;
  }
  .btn-upload-note {
    min-height: 40px;
    max-height: 55px;
  }
}
/* change the min width for targeting more smaller sizes */
@media (min-width: 1025px) and (max-width: 1150px) {
  .saved-note {
    font-size: 0.8rem;
  }
  .left-panel {
    overflow-y: scroll;
  }
  .saved-notes-container {
    min-height: 30%;
  }
}
@media (min-width: 1025px) and (max-width: 1485px) {
  .middle-section {
    max-width: 650px;
  }
  .search-bar, .search-results {
    max-width: 500px;
  }
  /* Only relevant for dashboard, don't use this class on other pages */
  .thumbnail { 
    object-fit: cover;
    height: 280px;
  }
  .feed-note-card {
    width: 95%;
  }
}
@media (max-width:480px) {
  .mbl-notification-elements{
    display: inline-block;
  }
  .search-bar-box{
    padding: 10px;
    background-color: white;
  }
  .search-bar{
    height: 40px;
    font-size: .9rem;
    max-width: 200px;
  }
  .search-bar-box button{
    height: 40px;
    width: 30px;
    font-size: 1.2rem;
  }
  .mbl-profile-pic{
    display: block;
  }
}
@media (max-width: 360px) {
  .search-bar {
    max-width: 150px;
    font-size: 0.8rem;
  }
  .results-card p {
    font-size: .8rem;
  }
  .results-card i{
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .notification-panel {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: -100%;
    width: 80vw;
    height: 100vh;
    transform: translateX(0);
    box-shadow: none;
    box-shadow: -10px 0px 30px rgba(255, 255, 255, 0.3);
  }
  .profile-pic {
    display: none;
  }
  .show-overlay {
    display: block;
    opacity: 1;
  }
  .show {
    transform: translateX(-100%);
    left: 100%;
  }
  .btn-hide-nft {
    display: block;
  }
  .notification-title {
    font-size: 0.9rem;
  }
  .notification-msg {
    font-size: 0.8rem;
    width: 100%;
  }
  .commenter-prfl {
    text-decoration: underline;
  }
  .notification {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .settings-icon {
    margin-left: 20px;
    margin-right: 10px;
    font-size: 2rem;
  }

  .settings-icon:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}
/* Making sure the panel only shows on mobile and small tablets */
@media (min-width: 768px) {
  .mbl-ctrl-panel {
    display: none;
  }
}

@media (max-width: 767px) {
  .mbl-ctrl-panel {
    display: flex;
  }
  .mbl-upload-btn {
    min-width: 40px;
  }
}
@media (max-width: 767px) {
  .mbl-ctrl-panel svg {
    min-width: 8vw;
    max-width: 12vw;
    padding: 0px 2vw;
  }

  .mbl-upload-btn {
    min-width: 15vw; /* Slightly larger upload button */
    min-height: 15vw;
    padding: 3vw; /* Padding relative to the screen size */
  }

  .mbl-upload-btn::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    border-radius: 50%;
    border: 2px solid rgba(0, 183, 255, 0.5);
    opacity: 0;
    animation: blink-effect 5s ease-in-out infinite;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  .middle-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1025px) and (max-width: 1310px) {
  .users-db-msg {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width:481px) and (max-width:1025px) {
  .notification-panel{
      display: none   ;
  }
}
@media (max-width: 768px) {
  .popup {
      width: 90%;
  }
}
@media (min-width:1486px) and (max-width:1840px) {
  .search-results{
    max-width: 800px;
  }
}