:root {
  --notiDotUnread: #0073e6;
  --secondaryUnread: #e7f3ff;
  --secondaryUnreadHover: #dcefff;

  --main-bg: #f2f4f7;
}

body {
  background-color: var(--main-bg);
  width: 100vw;
}

.search-container {
  width: 100vh;
  position: fixed;
  width: 100%;
  max-width: 100vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.search-bar-box {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
}
.search-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  min-width: 120px;
  background: #f2f2f2;
  border: 1px solid #eaeaea;
  box-shadow: 0px 2px 3.7px -2px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}
.search-bar {
  background: #f2f2f2;
  border-bottom-right-radius: 0px;
  border-radius: 25px;
  border-top-right-radius: 0px;
  border: none;
  box-sizing: border-box;
  color: rgba(30, 30, 30, 0.35);
  font-size: 1rem;
  height: 50px;
  font-weight: 550;
  letter-spacing: -0.03em;
  line-height: 23px;
  max-width: 980px;
  min-width: 100px;
  padding-left: 3vw;
  width: 650px;
}
.search-bar:focus {
  outline: none;
}

.search-bar-box button {
  align-items: center;
  background: #f2f2f2;
  border-bottom-right-radius: 25px;
  border-left: none;
  border-top-right-radius: 25px;
  border: none;
  box-sizing: border-box;
  color: #8c8c8c;
  cursor: pointer;
  display: flex;
  font-size: 1.4rem;
  height: 50px;
  justify-content: center;
  min-width: 30px;
  padding: 0 20px;
  transition: transform 0.2s ease;
  width: 60px;
}
.fa-magnifying-glass {
  transition: color 0.2s ease;
}
.fa-magnifying-glass:hover {
  color: rgba(0, 0, 0, 0.7);
}
.fa-magnifying-glass:active,
.search-bar-box button:active {
  transform: scale(0.95);
  color: black;
}
.mbl-notification-elements {
  position: relative;
  display: none;
  width: fit-content;
  min-width: 50px;
  min-height: auto;
  padding: 0px 0px;
}
.mobile-nft-btn {
  cursor: pointer;
  min-width: 40px;
  width: 50px;
  padding: 0px 2vw;
  transition: transform 0.2s ease, opacity 0.2s ease, background-color 0.2s ease;
}

.mobile-nft-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.mobile-nft-btn:active {
  transform: scale(0.95);
  background-color: #f0f0f0;
}

@keyframes rotate-shake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  20%,
  60% {
    transform: rotate(-10deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

.shake {
  animation: rotate-shake 0.5s;
}
.badge-nft {
  position: absolute;
  top: 2px;
  right: 10px;
  top: 5%;
  background-color: rgb(255, 61, 61);
  color: white;
  border-radius: 50%;
  padding: 3px 3px;
  font-size: 10px;
  width: 18px;
  height: 18px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  line-height: 1;
  min-width: 12px;
  text-align: center;
}
.results-container {
  width: 100%;
  background-color: var(--main-bg);
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 20px 20px;
  display: none;
  flex-direction: column;
  align-items: center;
}
.search-results {
  width: 100%;
  max-width: 1000px;
  height: 250px;
  overflow-y: scroll;
  padding: 0px 15px 15px 10px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-results::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.search-results::-webkit-scrollbar-track,
.search-results::-webkit-scrollbar-thumb {
  display: none;
}
.search-results a {
  width: 100%;
}
.results-card {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 20px 20px 0px;
  margin: 3px 0px;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: background-color 0.1s, border-left 0.1s;
}

.results-card:hover {
  background-color: #e3e3e3;
  border-left: 3px solid var(--neon-blue);
}
.results-card p {
  width: 90%;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.9);
}
.results-card i {
  font-size: 1.2rem;
  transform: rotate(45deg);
  color: rgba(0, 0, 0, 0.9);
}
.status {
  width: 100%;
  height: 90%;
  display: none;
  justify-content: center;
  align-items: center;
}
.search-results-loader {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid var(--squid-ink);
  animation: l20-1 0.8s infinite linear alternate, l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
.middle-section {
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 980px;
  margin: 0 auto;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: scroll;
  z-index: 999;
  background-color: var(--main-bg);
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.middle-section::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.middle-section::-webkit-scrollbar-track,
.middle-section::-webkit-scrollbar-thumb {
  display: none;
}

.right-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 22%;
  height: 100vh;
  background: var(--main-bg);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  border-left: 1px solid #d9d9d9;
  z-index: 1003;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}
.right-panel::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1002;
  display: none;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.right-panel-header {
  width: 100%;
  max-width: 280px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.search-prfl-pc {
  min-width: 40px;
  width: 50px;
  height: 50px;
  background-color: #e2e5e9;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.2s ease, fill 0.2s ease, color 0.2s ease;
  cursor: pointer;
}
/* Hover and click effects with settings */

.profile-pic {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50px;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.profile-pic:hover {
  filter: brightness(0.9);
}
.profile-pic:active {
  filter: brightness(0.8);
}
.btn-hide-nft {
  display: none;
  min-width: 40px;
}
.settings-icon {
  background-color: #e2e5e9;
  padding: 10px;
  font-size: 2rem;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.pc-nft-btn {
  cursor: pointer;
  width: 50px;
  height: auto;
  padding: 5px;
  height: auto;
  display: block;
  background-color: #e2e5e9;
  transition: background-color 0.2s ease;
  border-radius: 15px;
}

.settings-icon:hover,
.search-prfl-pc:hover,
.pc-nft-btn:hover {
  background-color: #d7d8d9;
}
.settings-icon:active,
.search-prfl-pc:hover,
.pc-nft-btn:active {
  background-color: #c8cacc;
}
.sub-header {
  font-weight: 500;
  font-size: 1.2rem;
  align-content: center;
  width: 100%;
}

.notification-modal-overlay{
  /* display: none; */
  left: 0;
  top: 0;
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 10px;
  position: fixed;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1026;
}


.notification-modal {
  position: absolute;
  right: 10%;
  top: 6%;
  width: 95%;
  max-width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 25px 20px;
  background: #FFFBFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.notifications-container{
  width: 100%;
  height: fit-content;
  height: 70vh;
  max-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.notifications-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.notifications-container::-webkit-scrollbar-track,
.notifications-container::-webkit-scrollbar-thumb {
  display: none;
}
.notification-header-label{
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--squid-ink);
}

.notification {
  width: 100%;
  background: transparent;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.1s ease,
    opacity 0.1s ease;
}
.notification:hover {
  background-color: #f8f8f8;
  opacity: 0.98;
}
.noti__first-col--img-wrapper{
  padding: 0 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.noti__source-user-img{
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  transition: filter 0.3s ease;
  cursor: pointer;
}

.noti__source-user-img:hover {
  filter: brightness(0.9);
}
.noti__source-user-img:active {
  filter: brightness(0.8);
}

.noti__sec-col--msg-wrapper{
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  padding-top: 2px;
  gap: 5px;
}

.noti__sc--first-row-msg{
  width: 100%;
}

.noti-msg{
  width: 100%;
  text-align: left;
  font-weight: 550;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #565656;
}
.noti-source-user-name{
  color: #000000;
}

.noti__sc--second-row-noti-info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.noti-time{
  font-weight: 500;
  font-size: 11px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #000000;
}


/* Unread and Read Related */
/* Process:
  through ejs we're adding a Boolean class on the elements where we're applying effects for read and unread.   
*/
/* .isRead for global class for the dot we're including in noti elements */
.isRead {
  padding: 5px;
  border-radius: 50%;
}
/* This targets the dot if noti is read */
.true {
  background-color: transparent;
  display: none;
}
/* This targets the dot if noti is unread */
.false {
  background-color: var(--notiDotUnread);
}
/* This is to change the bg color of noti div as per read/unread status */
.secondary-false {
  font-weight: 800;
}
.first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 2px 0px 0px;
}

/* Left Panel */
.left-panel {
  position: fixed;
  top: 0px;
  left: 0;
  width: 22%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  background: linear-gradient(333.5deg, #07192d 27%, #fefefe 200%);
}

.left-panel-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 10px 20px 0px;
  gap: 10px;
}

.left-panel--nr-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
}

.users-db-msg {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--light-gray);
  text-transform: uppercase;
}
.btn-home {
  width: 70%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #ffffff;
  border: 1px solid #001832;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 0;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;
}
.btn-home:hover {
  background-color: #f0eeee;
  transform: scale(1.03);
  box-shadow: 0px 8px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.btn-upload-note {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10%;
  font-size: 1.1rem;
  background: var(--neon-blue);
  border-radius: 12px;
  font-weight: 800;
  color: black;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
  border: none;
  transition: background-color 0.4s ease-in-out, transform 0.3s ease,
    color 0.4s ease;
  cursor: pointer;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.btn-upload-note .btn-upload-note-svg {
  padding: 0 10px;
  min-width: 50px;
  height: auto;
}

.btn-upload-note::before,
.btn-upload-note::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: #ffffff9a;
  top: -75%;
  left: -50%;
  transform: rotate(45deg);
  transition: all 0.6s ease-in-out;
  z-index: -1;
}

.btn-upload-note:hover::before {
  top: 100%;
  left: 150%;
}

.btn-upload-note:hover::after {
  top: -200%;
  left: -200%;
}

.btn-upload-note:hover {
  background-color: #ffffff; /* Lightened background on hover */
  color: var(--squid-ink); /* Softer color shift on hover */
  transform: scale(1.02);
}

.btn-upload-note:active {
  transform: scale(0.98);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

@keyframes bounceIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.sv-header {
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--neon-blue);
  margin-top: 30px;
  margin-bottom: 5px;
  width: 85%;
}
.saved-notes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 360px;
  height: 40%;
  padding: 15px 10px;
  overflow-y: scroll;
  margin-bottom: 8vh;
}
.saved-notes-container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.no-saved-notes-message {
  padding: 10px 5px;
  font-size: 0.9rem;
  color: #ffffffdc;
  P {
    padding: 5px 0px;
  }
}
.no-saved-notes-message.hide {
  display: none;
}
.saved-note {
  display: flex;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  width: 95%;
  height: 40px;
  background: #ffffff;
  border: none;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 18px;
  color: var(--squid-ink);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: opacity 0.4s ease, transform 0.4s ease, box-shadow 0.2s ease,
    border-color 0.2s ease, background-color 0.2s ease;
}

.hide {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
}

/* Class to show notes with a fade-in effect */
.saved-note.show-sv-in-LP {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.saved-note:hover {
  background-color: #ebebeb;
  background: #ebebeb;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.sv-n-link {
  color: var(--squid-ink);
  text-decoration: none;
}
.sv-n-link:hover {
  text-decoration: none;
}
.sv-n-link:visited {
  color: var(--squid-ink);
}
.right-panel-btn {
  box-sizing: border-box;
  width: 100%;
  max-width: 280px;
  height: 45px;
  background: #ffffff;
  margin-bottom: 15px;
  padding: 12px;
  font-weight: 400;
  border: 0.15px solid #000000;
  border-radius: 8px;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  transition: background-color 0.2s ease, border-color 0.2s ease,
    box-shadow 0.2s ease;
}

.right-panel-btn:hover {
  background: #ebebeb;
  border-color: #b0b0b0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

/* .button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--squid-ink);
  border: none;
  border-radius: 5px;
  color: var(--neon-blue);
  cursor: pointer;
} */

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1008; /* Ensures confetti is in front of the overlay */
  pointer-events: none;
}
/******************************************************
 Keep the Mobile Version of the code possibliy here
 ****************************************************** */
.mbl-profile-pic {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid var(--squid-ink);
  border-radius: 50px;
  object-fit: cover;
  display: none;
  aspect-ratio: 1 / 1;
  align-items: center;
  justify-content: center;
}
.mbl-ctrl-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  position: fixed;
  z-index: 1001;
  width: 100vw;
  height: fit-content;
  bottom: 0px;
  background: var(--squid-ink);
  overflow-x: hidden;
  box-shadow: 0px -20px 40px rgba(0, 0, 0, 0.2);
}

.mbl-ctrl-panel svg {
  height: auto;
  min-width: 8vw; /* Proportional width for consistent scaling */
  max-width: 12vw; /* To prevent icons from growing too large */
  padding: 0px 2vw; /* Relative padding to ensure uniform spacing */
  transition: transform 0.3s ease, color 0.3s ease;
}

.mbl-ctrl-panel svg:hover,
.mbl-ctrl-panel svg:active {
  transform: scale(1.1);
  cursor: pointer;
}

/* UPLOAD BUTTON (Responsive special effects) */
.mbl-ctrl-panel.mbl-upload-btn {
  width: 50px !important;
  position: relative;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  border-radius: 50%;
  min-width: 45px;
  min-height: auto;
  padding: 2vw;
}

.mbl-upload-btn:hover,
.mbl-upload-btn:active {
  transform: scale(1.2);
  box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.19);
}

.mbl-upload-btn::before {
  content: "";
  position: absolute;
  top: -15%;
  left: -15%;
  right: -15%;
  bottom: -15%;
  border-radius: 50%;
  background-color: rgba(0, 183, 255, 0.4);
  animation: pulse 2s infinite;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 0.7;
  }
}

/* Timed special effect after a few seconds (for upload button) */
@keyframes spin-border {
  0% {
    border-color: transparent;
  }
  25% {
    border-color: #00bfff;
    transform: rotate(0deg);
  }
  50% {
    border-color: #1e90ff;
    transform: rotate(180deg);
  }
  75% {
    border-color: #00bfff;
    transform: rotate(360deg);
  }
  100% {
    border-color: transparent;
    transform: rotate(720deg);
  }
}

.mbl-upload-btn-effect {
  border: 3px solid transparent;
  border-radius: 50%;
  position: absolute;
  top: -10%;
  left: -10%;
  right: -10%;
  bottom: -10%;
  animation: spin-border 2s ease infinite;
  z-index: -1;
  pointer-events: none;
}

.mbl-btn-home {
  margin-left: 2vw;
}

.mbl-settings-icon {
  margin-right: 2vw;
}
@keyframes blink-effect {
  0%,
  90% {
    opacity: 0;
  }
  95%,
  100% {
    opacity: 1;
  }
}
.search-prfls-mbl-btn {
  height: auto;
  width: 30px;
  max-width: 45px;
}
/* ****** Responsiveness ***** */

/* Temporarily Hiding the notification panel */
@media (max-width: 1530px) {
  .right-panel {
    width: 20%;
  }
}

/* for left-panel */
@media (min-width: 1025px) {
  .left-panel {
    z-index: 1005;
  }
  .btn-upload-note {
    min-height: 40px;
    max-height: 55px;
  }
}
/* change the min width for targeting more smaller sizes */
@media (min-width: 1025px) and (max-width: 1150px) {
  .saved-note {
    font-size: 0.8rem;
  }
  .left-panel {
    overflow-y: scroll;
  }
  .saved-notes-container {
    min-height: 30%;
  }
}
@media (min-width: 1025px) and (max-width: 1485px) {
  .middle-section {
    max-width: 650px;
  }
  .search-bar,
  .search-results {
    max-width: 500px;
  }
  /* Only relevant for dashboard, don't use this class on other pages */
  .thumbnail {
    object-fit: cover;
    height: 280px;
  }
  .feed-note-card {
    width: 95%;
  }
}
@media (max-width: 480px) {
  .mbl-notification-elements {
    display: inline-block;
  }
  .search-bar-box {
    padding: 10px 0;
    justify-content: space-evenly;
  }
  .search-bar {
    height: 40px;
    font-size: 0.9rem;
    max-width: 200px;
  }
  .search-bar-box button {
    height: 40px;
    width: 30px;
    font-size: 1.2rem;
  }
  .mbl-profile-pic {
    display: block;
  }
}
@media (max-width: 360px) {
  .search-bar {
    max-width: 150px;
    font-size: 0.8rem;
  }
  .results-card p {
    font-size: 0.8rem;
  }
  .results-card i {
    font-size: 1rem;
  }
  .search-bar-box {
    justify-content: space-evenly;
  }
}

@media (max-width: 480px) {
  .right-panel {
    position: fixed;
    overflow-x: hidden;
    top: 0;
    right: -100%;
    width: 80vw;
    height: 100vh;
    transform: translateX(0);
    box-shadow: none;
    box-shadow: -10px 0px 30px rgba(255, 255, 255, 0.3);
  }
  .profile-pic {
    display: none;
  }
  .show-overlay {
    display: block;
    opacity: 1;
  }
  .show {
    transform: translateX(-100%);
    left: 100%;
  }
  .btn-hide-nft {
    display: block;
  }
  .notification-title {
    font-size: 0.9rem;
  }
  .notification-msg {
    font-size: 0.8rem;
    width: 100%;
  }
  .commenter-prfl {
    text-decoration: underline;
  }
  .notification {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .settings-icon {
    font-size: 2rem;
  }

  .settings-icon:hover {
    transform: scale(1.1);
    opacity: 0.9;
  }
}
/* Making sure the panel only shows on mobile and small tablets */
@media (min-width: 768px) {
  .mbl-ctrl-panel {
    display: none;
  }
}

@media (max-width: 767px) {
  .mbl-ctrl-panel {
    display: flex;
  }
  .mbl-upload-btn {
    min-width: 40px;
  }
}
@media (max-width: 767px) {
  .mbl-ctrl-panel svg {
    min-width: 8vw;
    max-width: 12vw;
    padding: 0px 2vw;
  }

  .mbl-upload-btn {
    min-width: 15vw; /* Slightly larger upload button */
    min-height: 15vw;
    padding: 3vw; /* Padding relative to the screen size */
  }

  .mbl-upload-btn::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    right: -10%;
    bottom: -10%;
    border-radius: 50%;
    border: 2px solid rgba(0, 183, 255, 0.5);
    opacity: 0;
    animation: blink-effect 5s ease-in-out infinite;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  .middle-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (min-width: 1025px) and (max-width: 1310px) {
  .users-db-msg {
    font-size: 1rem;
    font-weight: 600;
  }
}
@media (min-width: 481px) and (max-width: 1025px) {
  .right-panel {
    display: none;
  }
}
@media (max-width: 768px) {
  .popup {
    width: 90%;
  }
}
@media (min-width: 1486px) and (max-width: 1840px) {
  .search-results {
    max-width: 800px;
  }
}
@media (max-width: 950px) {
  .left-panel {
    display: none;
  }
}
@media (max-width: 1025px) {
  .search-prfl-pc {
    display: none;
  }
}
@media (min-width: 1026px) and (max-width: 1380px) {
  .profile-pic {
    width: 45px;
    height: 45px;
  }
  .settings-icon {
    font-size: 2.6rem;
  }
}

/* Ensure general styling for smaller screens */
@media (max-width: 560px) {
  .search-wraper {
    width: 70%;
    border: 1px solid #eaeaea;
    box-shadow: 0px 5px 2.5px -5px rgba(0, 0, 0, 0.25);
  }
  .search-bar {
    padding-left: 5vw;
    width: 90%;
  }
  .search-bar-box button {
    width: 10%;
    padding: 0px 10px;
  }
}
