:root {
  --squid-ink: #06192d;
  --neon-blue: #04dbf6;
  --light-gray: #f8f8f8;
  --base-font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--squid-ink);
  background-color: var(--light-gray);
  line-height: 1.6;
  font-size: var(--base-font-size);
}

.container {
  width: 90%;
  max-width: 1000px;
  min-width: 250px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.container h2 {
  margin: 20px 0px;
  line-height: 1.4;
  color: var(--squid-ink);
  font-size: 1.5rem;
  font-weight: 500;
}

.container p {
  margin-bottom: 20px;
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.02em;
  color: var(--squid-ink);
}

.container ul {
  margin: 10px 0 20px 20px;
  padding-left: 20px;
}

.container li {
  margin-bottom: 10px;
  font-size: 1rem;
  line-height: 1.7;
  color: var(--squid-ink);
}

.container a {
  text-decoration: none;
  color: var(--neon-blue);
  font-weight: 500;
}

.container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 480px) {
  body {
    padding: 10px;
    font-size: 14px;
  }

  .container {
    width: 100%;
    padding: 15px;
  }

  .container h2 {
    font-size: 1.3rem;
  }

  .container p,
  .container li {
    font-size: 0.9rem;
  }

  .container a {
    font-size: 0.9rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 15px;
    font-size: 15px;
  }

  .container {
    width: 95%;
    padding: 20px;
  }

  .container h2 {
    font-size: 1.4rem;
  }

  .container p,
  .container li {
    font-size: 1rem;
  }
}
