<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/error-popup.css" />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/bar-loader.css"> <!-- See login.js for file linking process -->
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css">
</head>
<body>
    <%- include('side-panel', { block: 'big-loader' }) %>
    <div class="login-container">
        <img src="https://storage.googleapis.com/noteroom-fb1a7.appspot.com/badges/draft-logo-of-noteroom.png" alt="Logo of NoteRoom">
        <h2>Login to NoteRoom</h2>
        <p class="message" id="message" style="color: black;"></p>
        <input type="email" name="email" placeholder="Email Account" class="email" required data-tippy-content="Your email account used during signing up">
        <br>
        <div class="password-container">
            <input type="password" name="password" placeholder="Password" class="password" required data-tippy-content="Please contact us through support if you forgot your password" >
            <span class="toggle-password">Show</span>
        </div>
        <br>
        <button type="submit" name="submit" class="login-button">Login</button>
        <p  style="color: black;">Don't have an account? <a href="/sign-up">Sign Up</a></p>
        <a href="/support">Need Help?</a>
    </div>
	<%- include('side-panel', { block: 'error-popup' }) %>

    <script src="/js/controller.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/utils.js"></script>
</body>
</html>
