<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <link rel="stylesheet" href="blogs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jaldi:wght@400;700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
</head>
<body>


</div>   
    </div>
    <div class="container">
        <a href="blog-view.html"><div class="blog-card">
            <div class="tags">
                <span class="tag">#Noteroom</span>
                <span class="tag">#Study</span>
                <span class="tag">#HSC</span>

            </div>
            <img class="blog-img" src="images/blogimg1.jpg" alt="Blog Image">
            <h3>Why You Should Use Noteroom: The Game-Changer for HSC Students in Bangladesh</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci nam... <b>See more</b></p>
        </div></a>


<!---        <div class="blog-card">
            <div class="tags">
                <span class="tag">Lorem</span>
                <span class="tag">Lorem</span>
            </div>
            <img src="blog-image.jpg" alt="Blog Image">
            <h3>Lorem</h3>
        </div>



        <div class="blog-card">
            <h3>Lorem</h3>
            <img src="blog-image.jpg" alt="Blog Image">
        </div>

        <div class="blog-card">
            <div class="tags">
                <span class="tag>Lorem</span>
                <span class="tag">Lorem</span>
            </div>
            <img src="blog-image.jpg" alt="Blog Image">
            <h3>Lorem</h3>
        </div>

        <div class="blog-card">
            <h3>Lorem</h3>
            <img src="blog-image.jpg" alt="Blog Image">
        </div> 
-->
</div> 
   


</body>
</html>

