<div class="search-result-prfls-container" style="display: none;">
    <h3 class="section-label">
        Search Results
    </h3>
    <div class="results-prfls">
        <p class="profile-status" style="display: none;"></p>
    </div>
</div>